html,
input {
    font-family: "microsoft yahei";
}

body {
    padding: 45px 0;
}
.main-header {
    position: fixed;
    top: 0;

    width: 100%;
    height: 40px;

    font-size: 20px;
    line-height: 40px;

    color: #007aff;
    border-bottom: 1px solid #eee;
    background-color: #f7f7f7;
}

.main-header h1 {
    text-align: center;
}

.main-header .icon-add {
    position: absolute;
    top: 0;
    right: 20px;

    font-size: 20px;
}

.main-footer {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 40px;

    line-height: 40px;

    text-align: center;

    background-color: #f7f7f7;
}

.main-footer .icon-cc-head {
    font-size: 30px;

    color: #007aff;
}
.contact-info {
    margin-bottom: 20px;
}
.new-contact .contact-info input {
    display: block;

    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding-left: 8%;

    font-size: 16px;

    border: none;
    outline: none;
}
.divided {
    width: 90%;
    height: 2px;
    margin: 0 auto;

    background-color: #ddd;
}
.add-phone-area {
    padding-left: 20px;
    border-bottom: 2px solid #ddd;
}
.add-phone-area .add-control {
    height: 30px;
}
.add-phone-area .add-control span {
    line-height: 24px;
    font-size: 16px;
    color: #007aff;
}
.icon-add-phone {
    color: #5cb85c;
    font-size: 25px;
    float: left;
    margin-right: 10px;
}
