html,
input,
option {
    font-family: "microsoft yahei";
}

body {
    padding: 45px 0;
}

li {
    list-style: none;
}

.clearfix:after {
    clear: both;
}
.clearfix:after,
.clearfix:before {
    display: table;

    content: "";
}

.main-header {
    position: fixed;
    top: 0;

    width: 100%;
    height: 40px;

    font-size: 20px;
    line-height: 40px;

    color: #007aff;
    border-bottom: 1px solid #eee;
    background-color: #f7f7f7;
}

.main-header h1 {
    text-align: center;
}

.main-header .icon-add {
    position: absolute;
    top: 0;
    right: 20px;

    font-size: 20px;
}

.main-footer {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 40px;

    line-height: 40px;

    text-align: center;

    background-color: #f7f7f7;
}

.main-footer .icon-cc-head {
    font-size: 30px;

    color: #007aff;
}
.contact-info {
    margin-bottom: 20px;
}
.new-contact .contact-info input {
    display: block;

    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding-left: 8%;

    font-size: 16px;

    border: none;
    outline: none;
}
.divided {
    width: 90%;
    border-bottom: 2px solid #ddd;
    margin: 0 auto;

}



.add-phone-area {
    padding-left: 20px;

    border-bottom: 2px solid #ddd;
}

.add-phone-area li {
    border-bottom: 2px solid #ddd;
}
.add-phone-area .phone-type {
    float: left;

    box-sizing: border-box;
    width: 25%;

    text-align: center;

    border-right: 1px solid #ddd;
}
.icon-remove-phone {
    font-size: 25px;
    color: #d9534f;
    float: left;
    line-height: 40px;
}
.add-phone-area .phone-type-chose {
    height: 40px;
    margin: 0 5px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 700;
    color: #007aff;
    border: none;
    outline: none;

            appearance: none;
       -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari å’Œ Chrome */
}
.add-phone-area .icon-icon10 {
    color: #ccc;
    float: right;
    line-height: 40px;
    margin-right: 5px;
}
.add-phone-area .phone-type-chose option {
    text-align: center;
}
.add-phone-area input {
    float: left;

    box-sizing: border-box;
    width: 75%;
    height: 40px;
    padding-left: 8%;

    font-size: 16px;

    border: none;
    outline: none;
}


.add-phone-area .add-control {
    height: 60px;
}
.add-phone-area .add-control span {
    font-size: 16px;
    line-height: 60px;

    color: #007aff;
}
.icon-add-phone {
    float: left;

    margin-right: 10px;
    line-height: 60px;
    font-size: 25px;

    color: #5cb85c;
}
