/* 基本样式区 start */
html,
input,
option {
    font-family: "microsoft yahei";
}

body {
    position: relative;

    visibility: hidden;
    overflow-x: hidden;

    padding: 60px 0;
}

li {
    list-style: none;
}

.iconfont {
    cursor: pointer;

            tap-highlight-color: rgba(0, 0, 0, 0);
       -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.clearfix::after {
    clear: both;
}
.clearfix::after,
.clearfix::before {
    display: table;

    content: "";
}
/* 基本样式区 end*/


main {
    position: absolute;

    width: 100%;
}
/* 主页样式区  start*/
main header,
#new-contact header {
    position: fixed;
    z-index: 9999;
    top: 0;

    width: 100%;
    height: 60px;

    font-size: 28px;
    line-height: 60px;

    color: #007aff;
    border-bottom: 1px solid #eee;
    background-color: #f7f7f7;
}

main header h1,
#new-contact header h1 {
    text-align: center;

    color: #000;
}

main header .icon-add {
    position: absolute;
    top: 0;
    right: 20px;

    font-size: 30px;
}
main li {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding-left: 10px;

    font-size: 24px;
    line-height: 50px;
}
main li:nth-child(even) {
    background-color: #eee;
}
main li:hover {
    cursor: pointer;

    background-color: #ddd;
}
main footer {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 40px;

    line-height: 40px;

    text-align: center;

    background-color: #f7f7f7;
}

main footer .icon-cc-head {
    font-size: 30px;

    color: #007aff;
}

/* 主页样式区 end*/


/* 新联系人样式区 start */


.right-slide-anim-transition {
    transition: all .3s linear;
    // position: relative;
    // right: 0;

    opacity: 1;
}


.right-slide-anim-enter,
.right-slide-anim-leave {
    opacity: 0;
    // right: -100%;
}

/* 新联系人载入动画区 */


#new-contact .save {
    float: right;

    margin-right: 10px;
}
#new-contact .cancle {
    float: left;

    margin-left: 10px;
}
#new-contact .contact-info {
    margin-bottom: 20px;
}
#new-contact .contact-info input {
    display: block;

    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding-left: 8%;

    font-size: 16px;

    border: none;
    outline: none;
}
#new-contact .contact-info .divided {
    width: 90%;
    margin: 0 auto;

    border-bottom: 2px solid #ddd;
}

/* 新联系人 个人信息区*/


.add-anim-transition {
    overflow: hidden;

    height: 40px;

    transition: all .3s linear;

    opacity: 1;
}

.add-anim-enter,
.add-anim-leave {
    height: 0;

    opacity: 0;
}

#new-contact .add-area {
    margin-bottom: 70px;
    padding-left: 20px;

    border-bottom: 2px solid #ddd;
}

#new-contact .add-area li {
    border-bottom: 2px solid #ddd;
}
#new-contact .add-area .type {
    float: left;

    box-sizing: border-box;
    width: 25%;

    text-align: center;

    border-right: 1px solid #ddd;
}
#new-contact .add-area .type .icon-remove-phone {
    float: left;

    font-size: 25px;
    line-height: 40px;

    color: #d9534f;
}
#new-contact .add-area .type-chose,
#new-contact .chose-area .type-chose {
    /* 这里 是添加电话和选择铃声的共同样式 */
    height: 40px;
    margin: 0 5px;

    font-size: 16px;
    font-weight: 700;
    line-height: 40px;

    color: #007aff;
    border: none;
    outline: none;
    background-color: #fff;

            appearance: none;
       -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari 和 Chrome */
}
#new-contact .add-area .icon-icon10 {
    float: right;

    margin-right: 5px;

    line-height: 40px;

    color: #ccc;
}
#new-contact .add-area .type-chose option {
    text-align: center;
}
#new-contact .add-area input {
    float: left;

    box-sizing: border-box;
    width: 75%;
    height: 40px;
    padding-left: 8%;

    font-size: 16px;

    border: none;
    outline: none;
}


#new-contact .add-area .add-control {
    height: 60px;
}
#new-contact .add-area .add-control span {
    font-size: 16px;
    line-height: 60px;

    color: #007aff;
}
#new-contact .add-area .icon-add-phone {
    float: left;

    margin-right: 10px;

    font-size: 25px;
    line-height: 60px;

    color: #5cb85c;
}
/* 添加电话区 */

#new-contact .chose-area {
    height: 40px;
    padding-left: 55px;

    border-bottom: 2px solid #ddd;
}
#new-contact .chose-area span {
    float: left;

    width: 70px;
    margin-right: 30px;

    line-height: 40px;

    color: #007aff;
}
#new-contact .chose-area .type-chose {
    font-size: 18px;

    color: #000;
}


#new-contact .chose-area .icon-icon10 {
    float: right;

    line-height: 40px;
}
/* 选择铃声样式区 */

/* 新联系人样式区 end */
#user-contact-info header {
    background: #f8f8f8;
}
#user-contact-info .top {
    position: fixed;
    top: 0;

    box-sizing: border-box;
    width: 100%;
    height: 60px;
    padding: 0 15px 0 15px;

    font-size: 20px;
    line-height: 60px;

    color: #007aff;
    background: #f8f8f8;
}


#user-contact-info .top .edit {
    float: right;
}
#user-contact-info .user-name {
    height: 80px;

    font-size: 48px;
    line-height: 80px;

    text-align: center;
}

#user-contact-info .phone-list li {
    height: 40px;
    margin-top: 10px;
    padding: 5px 10px;

    font-size: 14px;
    line-height: 20px;

    border-bottom: 2px solid #eee;
}
#user-contact-info .phone-list li p:nth-child(2) {
    font-size: 16px;

    color: #007aff;
}
#user-contact-info footer {
    margin-top: 100px;

    line-height: 50px;

    text-align: center;
}
#user-contact-info .send-message {
    margin: 10px 0;

    font-size: 24px;

    color: #fff;
    border-radius: 14px;
    background: #5cb85c;
}
#user-contact-info .prevent-call {
    margin: 10px 0;

    font-size: 24px;

    color: #fff;
    border-radius: 14px;
    background: #d9534f;
}
